@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;
  background-size: cover;
  background-color: #ebebeb;
}

:root {
  --blue: #1d8bd4;
  --white: #fff;
  --offWhite: #f6f6f6;
  --dark: #1e1c2a;

  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #06489e34;
}

body::-webkit-scrollbar-thumb {
  background-color: #1d8bd4;
  border-radius: 20px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background: var(--white);
  transition: all 0.5s;
  position: fixed;
  z-index: 150;
}

.navigation #logo {
  color: var(--blue);
  font-size: 1.7rem;
  font-weight: 600;
}

#logo span {
  color: var(--dark);
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navigation ul li a {
  color: var(--dark);
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
}

.navigation ul li a:hover {
  color: var(--blue);
}

/* Animação */

.menu {
  cursor: pointer;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--dark);
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--blue);
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.home-text {
  max-width: 37rem;
}

h4 {
  font-size: 1.5rem;
  color: var(--text);
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  color: var(--blue);
}

.home-img {
  animation-name: floating;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  padding: 0 4rem;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.template {
  background-color: var(--white);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  flex-direction: column;
}

.template img {
  height: 200px;
}

.linha-divisoria {
  height: 1px;
  width: 100vw;
  background-color: var(--dark);
}

.linha-divisoria2 {
  height: 1px;
  width: 90vw;
  background-color: var(--dark);
  opacity: 0.7;
}

.sub-iten {
  height: 300px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub-iten div {
  display: flex;
  align-items: center;
}

.sub-iten h1 {
  color: rgb(128, 66, 66);
  font-family: "Permanent Marker", cursive;
  font-size: 3.5rem;
  margin: 0;
}

.sub-iten p {
  font-size: 1.2rem;
  color: #000000;
  margin-left: 100px;
}

.sub-iten button {
  font-size: 1.5em;
  color: #fff;
  padding: 0 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #1d8bd4;
  height: 40px;
}

.title {
  font-family: "Odibee Sans", cursive;
  margin: 0;
  font-size: 4rem;
  color: var(--blue);
}

.produtos {
  width: 80vw;
}

.produtos section {
  /* height: 700px; */
  display: grid;
  gap: 10px;
  grid-template-columns: 330px 330px 330px;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.produto {
  background-color: #ffffff;
  padding-bottom: 3px;
  width: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produto img {
  height: 200px;
  margin-top: 30px;
}

.faixa-nome,
.faixa-nome-compras {
  background-color: #000;
  color: #fff;
  width: 99%;
  text-align: center;
}

.faixa-pedido,
.faixa-cardapio {
  background-color: #31bd00;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  width: 99%;
  height: 50px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  margin-top: 15px;
  border: none;
}

.faixa-pedido:hover {
  opacity: 0.7;
}

#img-burguitos {
  height: 160px;
  margin-top: 40px;
  margin-bottom: 30px;
}

#section2 {
  height: 400px;
}

.lista-itens {
  background: #fff;
  width: 70%;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cbclh-list {
  background: var(--blue);
  height: 150px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.cbclh-list h1 {
  color: #fff;
  font-size: 3rem;
  margin: 20px 0 0 30px;
}

.cbclh-list p {
  color: #fff;
  font-size: 1rem;
  margin: 10px 0 0 30px;
}

.btns-final {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.btns-final div {
  background-color: var(--blue);
  border-radius: 5px;
  height: 50px;
  padding: 0px 30px;
  margin: 30px 0;
  font-size: 2rem;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: default;
}

.btns-final button {
  background-color: #31bd00;
  border-radius: 5px;
  height: 60px;
  padding: 0px 50px;
  margin: 30px 0;
  font-size: 2.5rem;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.btns-final a {
  color: #fff;
  text-decoration: none;
}

.faixa-pedido a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.7rem;
}

.faixa-cardapio {
  width: 326px;
}

.itens-selecionados {
  width: 90%;
  height: 130px;
  margin-top: 20px;
  background: #d9d9d9;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.itens-selecionados:last-child {
  margin-bottom: 20px;
}

.itens-selecionados img {
  height: 130px;
}

.itens-selecionados div {
  width: 200px;
  text-align: center;
}

.hamburguer,
.comboItens {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itens-selecionados a {
  position: absolute;
  left: 97%;
  top: 10px;
  color: red;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.excluirProds {
  height: 35px;
  width: 150px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 200px;
  left: 20px;
  cursor: pointer;
}

.excluirProds:hover {
  opacity: 0.7;
}

.contato {
  font-family: "Inter", sans-serif;
  color: var(--color-neutral-40);
  letter-spacing: 1px;
  width: 100%;
}

.Footer_tag {
  color: #1d8bd4;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

.p_footer {
  color: var(--white);
}

.logo-footer {
  color: var(--blue);
}

.logo-footer span {
  color: var(--dark);
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #1d8bd4;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #1d8bd4;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  color: var(--white);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

/* Ajustes para telas menores */
@media (max-width: 785px) {
  .navigation {
    padding: 10px 20px;
  }

  #logo {
    font-size: 1.5rem;
  }

  .nav-menu {
    display: none;
  }

  .menu {
    display: block;
  }
  .home {
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    display: flex;
  }
  .home-text h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .home-img img {
    height: 40vh;
  }

  .sub-iten {
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .sub-iten h1 {
    font-size: 2.5rem;
  }
  .produtos section {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .produto {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .produto img {
    width: 100%;
    height: auto;
  }

  .faixa-nome,
  .faixa-nome-compras {
    padding: 10px 0;
  }

  .faixa-pedido {
    width: 100%;
    margin-top: 10px;
  }

  .lista-itens img {
    height: 80px;
  }

  .btns-final {
    flex-direction: column;
  }

  .btns-final div,
  .btns-final button {
    width: 100%;
    margin: 10px 0;
  }

  .footer-list {
    text-align: center;
  }
}

/* Ajustes para telas ainda menores */
@media (max-width: 450px) {
  .navigation {
    padding: 8px 15px;
  }
  .content {
    margin: 0px;
  }
  #logo {
    font-size: 1.2rem;
  }
  .home {
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    display: flex;
  }
  .home-text {
    font-size: 3rem;
    line-height: 2.5rem;
    margin: 0 10%;
  }

  .home-img img {
    /* height: 30vh; */
    display: none;
  }

  .sub-iten h1 {
    font-size: 2.5rem;
  }
  .sub-iten p {
    font-size: 15px;
  }
  .produtos section {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem;
    margin-bottom: 20px;
    flex: 1 1 300px;
  }

  .produto {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .produtos h1 {
    font-size: 50px;
  }
  .produto img {
    max-width: 100%;
    height: auto;
    margin: 5%;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .faixa-nome,
  .faixa-nome-compras {
    padding: 8px 0;
  }

  .faixa-pedido {
    width: 100%;
    margin-top: 8px;
    font-size: 0.8rem;
  }

  .lista-itens h1 {
    font-size: 30px;
  }
  .lista-itens img {
    height: 60px;
  }
  .excluirProds {
    top: 155px;
    left: 10px;
  }

  .btns-final div,
  .btns-final button {
    font-size: 0.9rem;
  }

  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 2rem 1.5rem;
  }
}
